USE [master]
GO
/****** Object:  Database [dbProjeto]    Script Date: 30/10/2019 01:20:36 ******/
CREATE DATABASE [dbProjeto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbProjeto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.COMPUTADOR_FELIPE\MSSQL\DATA\dbProjeto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbProjeto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.COMPUTADOR_FELIPE\MSSQL\DATA\dbProjeto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbProjeto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbProjeto]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 30/10/2019 01:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
	[endereco] [varchar](50) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenAcesso]    Script Date: 30/10/2019 01:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenAcesso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](500) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[validade] [bit] NOT NULL,
 CONSTRAINT [PK_TokenAcesso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/10/2019 01:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TokenAcesso]  WITH CHECK ADD  CONSTRAINT [FK_TokenAcesso_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[TokenAcesso] CHECK CONSTRAINT [FK_TokenAcesso_Usuarios]
GO
USE [master]
GO
